.wrapper {
    .MuiOutlinedInput-root {
        fieldset {
            border-width: 0 !important;
        }
        :hover {
            fieldset {
                border-width: 0;
            }
        }
        .Mui-focused {
            fieldset {
                border-width: 0 !important;
            }
        }
    }
}
.MuiPaper-root {
    input {
        color: black ;
    }
}
