@import 'src/common/ui-kit/styles/media.scss';

.apexcharts-canvas {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: -15px;
    @include sm {
        margin-left: 0px;
    }
    .apexcharts-text.apexcharts-xaxis-label,
    .apexcharts-tooltip-title {
        text-transform: capitalize;
    }
}

.apexChartsDailyPeriodWrapper {
    .apexcharts-xaxis {
        .apexcharts-text.apexcharts-xaxis-label {
            display: none;
        }
        .apexcharts-text.apexcharts-xaxis-label:first-child,
        .apexcharts-text.apexcharts-xaxis-label:nth-last-child(2) {
            display: inline;
        }
        @include sm {
            .apexcharts-text.apexcharts-xaxis-label {
                display: inline;
            }
            .apexcharts-text.apexcharts-xaxis-label:nth-child(4n),
            .apexcharts-text.apexcharts-xaxis-label:nth-child(4n + 2),
            .apexcharts-text.apexcharts-xaxis-label:nth-child(4n + 3) {
                display: none;
            }
        }
        @include md {
            .apexcharts-text.apexcharts-xaxis-label {
                display: none;
            }
            .apexcharts-text.apexcharts-xaxis-label:nth-child(2n + 1) {
                display: inline;
            }
        }
        @include lg {
            .apexcharts-text.apexcharts-xaxis-label:nth-child(n) {
                display: inline;
            }
        }
    }
}

.apexChartsWeeklyPeriodWrapper {
    .apexcharts-xaxis {
        .apexcharts-text.apexcharts-xaxis-label {
            display: none;
        }
        .apexcharts-text.apexcharts-xaxis-label:nth-child(2n + 1) {
            display: inline;
        }
        @include sm {
            .apexcharts-text.apexcharts-xaxis-label {
                display: inline;
            }
        }
    }
}

.apexChartsMonthlyPeriodWrapper {
    .apexcharts-xaxis {
        .apexcharts-text.apexcharts-xaxis-label {
            display: none;
        }
        .apexcharts-text.apexcharts-xaxis-label:first-child,
        .apexcharts-text.apexcharts-xaxis-label:nth-last-child(2) {
            display: inline;
        }
        @include sm {
            .apexcharts-text.apexcharts-xaxis-label {
                display: inline;
            }
            .apexcharts-text.apexcharts-xaxis-label:nth-child(4n),
            .apexcharts-text.apexcharts-xaxis-label:nth-child(4n + 2),
            .apexcharts-text.apexcharts-xaxis-label:nth-child(4n + 3) {
                display: none;
            }
        }
        @include md {
            .apexcharts-text.apexcharts-xaxis-label {
                display: none;
            }
            .apexcharts-text.apexcharts-xaxis-label:nth-child(2n + 1) {
                display: inline;
            }
        }
        @include xl {
            .apexcharts-text.apexcharts-xaxis-label:nth-child(n) {
                display: inline;
            }
        }
    }
}

.apexChartsYearlyPeriodWrapper {
    .apexcharts-xaxis {
        .apexcharts-text.apexcharts-xaxis-label:nth-child(2n) {
            display: none;
        }
        .apexcharts-text.apexcharts-xaxis-label:nth-child(2n + 1) {
            display: inline;
        }
        @include md {
            .apexcharts-text.apexcharts-xaxis-label:nth-child(n) {
                display: inline;
            }
        }
    }
}
