.apexcharts-canvas {
    overflow-x: auto;
    overflow-y: hidden;
    .apexcharts-text.apexcharts-xaxis-label,
    .apexcharts-tooltip-title {
        text-transform: capitalize;
    }
}
// YAxis colliding with grid when multiple YAxis that are opposite.
// .apexChartsWrapper {
//     .apexcharts-grid {
//         .apexcharts-gridlines-vertical {
//             .apexcharts-gridline:last-child {
//                 display: none;
//             }
//         }
//         .apexcharts-xaxis {
//             .apexcharts-xaxis-texts-g {
//                 .apexcharts-text.apexcharts-xaxis-label:last-child {
//                     display: none;
//                 }
//             }
//         }
//     }
// }
