.wrapper {
    // width: 250px;
    .MuiOutlinedInput-root {
        svg {
            color: black !important; //TODO
            z-index: 10;
        }
        fieldset {
            border-width: 0 !important;
        }
        :hover {
            fieldset {
                border-width: 0;
            }
        }
        .Mui-focused {
            fieldset {
                border-width: 0 !important;
            }
        }
    }
}
//     // .wrapper {
//     //
//     // }
// }
//         '& fieldset': {
//             borderColor: ` ${setColor(inputColor)} !important`,
//         },
//     },
//     '& .MuiOutlinedInput-root:hover': {
//         '& fieldset': {
//             borderColor: setColor(inputColor),
//             borderWidth: '2px',
//         },
//     },
//     '& .Mui-focused': {
//         '& fieldset': {
//             borderColor: ` ${setColor(inputColor)} !important`,
//         },
//     },
// }))
