.toolbar-widget {
    // Style the notification icon to be centered vertically
    .mantine-Popover-root {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 8px;
    }
}
