@import 'src/common/ui-kit/styles/media.scss';

.housing-list {
    .BoxRow {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 24px;
        @include md {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
        }
        .BoxColumn {
            margin: 0;
        }
    }
}
