@import 'src/common/ui-kit/styles/media.scss';

.housing-list {
    .BoxRow {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 24px;
        @include md {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
        }
        .BoxColumn {
            margin: 0;
        }
    }
}

.hide-number-input-arrows {
    /* For WebKit-based browsers (Chrome, Safari, Opera) */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}
